:host {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 1200px;
}

.user {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 3px;
  border: 1px solid gray;
  border-left-width: 6px;
  margin: 0.75rem 1rem;
}

.user > div {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 12px;
}

.user > div.avatar-cell {
  min-width: 80px;
  align-items: center;
  align-self: center;
}

.user > div.active-cell {
  align-items: center;
}

.user > div > h1 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: rgb(56, 115, 246);
  font-weight: normal;
}

.user > div > p {
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0;
}

.user > div > p.subtitle {
  font-size: 12px;
  font-weight: normal;
  color: gray;
  margin: 0;
}
